<div ng-controller="ContactController" class="contact-form-bottom">
    <div class="col-md-3 address">
        <address>
                    <h5>Address:</h5>
                    <p>1374 Jarvis Ave</p>
                    <p>Elk Grove Village, IL 60007</p>
                    <h5>Phone:</h5>
                    <p>(847)268-8866</p>
                    <h5>Fax:</h5>
                    <p>(847)640-7220</p>
                </address>
    </div>
    <form ng-submit="submit(contactform)" name="contactform" method="post" action="" role="form">
        <div class="col-md-4 contact-form" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
            <div class="contact-form-row" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                <div>
                    <span>Name</span>
                    <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required/>
                </div>
                <div>
                    <span>Email</span>
                    <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required type="text" class="text" />
                </div>
                <div>
                    <span>Phone</span>
                    <input ng-model="formData.inputSubject" type="phone" class="form-control" id="inputSubject" name="inputSubject" placeholder="Yor Phone" required type="text" class="text" />
                </div>
                <br/>
            </div>
        </div>
        <div class="col-md-4 contact-form-row comments">
            <div>
                <span>Comments</span>
                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required> value=""></textarea>
                <input ng-disabled="submitButtonDisabled" type="submit" value="Submit" />
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>
