<carousel interval="5000">
    <slide ng-repeat="slide in slidesSml" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
    </slide>
</carousel>
<div class="container container-pad50 product">
    <div class="row">
        <h1>ONYX/SEMI-PRECIOUS STONE</h1>
        <h3>The term semi-precious is used to refer to the entire world of colored gemstones, not including precious gems like diamond, ruby, sapphire and emerald. Onyx is one of the most rare semi-natural stones in the world. It can be found in a wide range of colors, often layered.</h3>
        <div class="separator"></div>
        <div class="col-md-2"></div>
        <div class="col-md-5 col-xs-12">
            <img src="../images/onyx.jpg" alt="onyx" width="100%" />
        </div>
        <div class="col-md-4 col-xs-12">
            <p>Onyx is a calcareous stone and prone to etching and
staining from acids such as ketchup, lemons, alcohol,
and household cleaners. Great care is needed to
maintain the natural beauty of this stone. Similar to
limestone, onyx is a softer stone best placed where it
won't be used or abused on a day to day basis. It is
porous and needs to be sealed</p>
        </div>
    </div>
</div>
<br/>
<div class="container-pad50 bg-blue">
    <div class="container">
        <div class="row product text-center" style="color: #fff;">
            <h2>Recommended use</h2>
            <br/>
            <div class="col-md-12 col-xs-12">
                <h3>Onyx can be implemented in areas where you can accent the stone and use under lighting or backlighting to
draw attention to its translucent qualities. It is most often used as fireplace surround, vanity, bar top or wall
elevation. Other uses include light duty residential floors, sinks, table tops and novelty items such as vases
and lamps.</h3>
            </div>
        </div>

        <div class="row container-pad50 fIcons">
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/fireplace4.svg" alt="tiles">
                <h3>Fireplaces</h3>
            </div>
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/bathroom12.svg" alt="bathroom">
                <h3>Vanity Top</h3>
            </div>
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/tiles1.svg" alt="tiles">
                <h3>Floor Tile</h3>

            </div>
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/yard7.svg" alt="basin">
                <h3>Decorative StoneWork</h3>
            </div>

        </div>

    </div>
</div>
<br/>



<!-- MARBLE SAMPLES SECTION-->
<div class="container container-pad50 product">
    <div class="row product text-center">

        <h3>View samples of onyx and semi-precious stone colors below, click to see the larger image of material you can get for your project</h3>
        <div class="row">

            <br/>
            <div class="wrapper-product">
                <div ng-repeat="item in onyx" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 item">
                   <a class="fancybox" data-fancybox-group="gallery" href="{{item.href}}" title="{{item.title}}">
                        <!-- a href="{{item.href}}" -->
                        <img class="item-image" ng-src="{{item.image}}" width="100%" />
                        <span class="title">{{item.title}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"> </div>
</div>


<!--    CONTACT SECTION-->
<div class="bg-grey">

    <div class="contact-section" id="contact">
        <div class="container container-pad50">
            <div class="row text-center">
                <h2>Contact Us</h2>
                </br>
                <h3>For specific material requests, please contact our office and provide the name of the tile or slab of your interest.</h3>
            </div>
            <div contact-form></div>
        </div>
    </div>
</div>
<!--    END CONTACT SECTION-->

<!--//carousel-->
