<carousel interval="5000">
    <slide ng-repeat="slide in slidesSml" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
    </slide>
</carousel>
<div class="container container-pad50 product">
    <div class="row">
        <h1>QUARTZITE</h1>
        <h3>Quartzite is a metamorphic rock that has been formed from sandstone. In its purest form it’s white like marble but
it can have impurities that lead to some incredible patterns and colors.
</h3>
        <div class="separator"></div>
        <div class="col-md-2"></div>
        <div class="col-md-5 col-xs-12">
            <img src="../images/quartzite.jpg" alt="Marble" width="100%" />
        </div>
        <div class="col-md-4 col-xs-12">
            <p>Quartzite is an extremely hard rock that is harder than
granite, so it takes heat very well. While some
quartzites are very dense and resistant to water and
acids, others are porous and not as durable.
Application of sealer helps to protect the surface
against etching and staining.
</p>
        </div>
    </div>
</div>
<br/>
<div class="container-pad50 bg-blue">
    <div class="container">
        <div class="row product text-center" style="color: #fff;">
            <h2>Recommended use</h2>
            <br/>
            <div class="col-md-12 col-xs-12">
                <h3>This attractive looking stone is suitable for both indoor and outdoor applications. It is suitable for interior and
exterior walls, spas and showers, bathroom vanities, fireplace surrounds, flooring and kitchen countertops.
Available in polished, honed and brushed finishes.
</h3>
            </div>
        </div>

        <div class="row container-pad50 fIcons">
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/kitchen12.svg" alt="">
                <h3>Kitchen Countertop</h3>

            </div>
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/tiles1.svg" alt="">
                <h3>Floor Tile</h3>

            </div>
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/fireplace4.svg" alt="">
                <h3>Fireplaces</h3>


            </div>
            <div class="col-lg-3 col-xs-6 col-md-3 text-center">
                <img src="../images/svg/stones.svg" alt="">
                <h3>Wall Veneers</h3>


            </div>
        </div>

    </div>
</div>
<br/>



<!-- MARBLE SAMPLES SECTION-->
<div class="container container-pad50 product">
    <div class="row product text-center">
        <h3>View samples of quartzite colors below, click to see the larger image of material you can get for your project</h3>
        <div class="row">

            <br/>
            <div class="wrapper-product">
                <div ng-repeat="item in quartzite" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 item">
                    <a class="fancybox" data-fancybox-group="gallery" href="{{item.href}}" title="{{item.title}}">
                        <img class="item-image" ng-src="{{item.image}}" width="100%" />
                        <span class="title">{{item.title}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"> </div>
</div>


<!--    CONTACT SECTION-->
<div class="bg-grey">

    <div class="contact-section" id="contact">
        <div class="container container-pad50">
            <div class="row text-center">
                <h2>Contact Us</h2>
                </br>
                <h3>For specific material requests, please contact our office and provide the name of the tile or slab of your interest.</h3>
            </div>
            <div contact-form></div>
        </div>
    </div>
</div>
<!--    END CONTACT SECTION-->

<!--//carousel-->
